body {
    font-family: Raleway, arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    background: hsla(0, 0%, 95%, 0.623);
}

.nav-left {
    padding: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right li {
    list-style: none;
    padding: 10px;
}

.nav-right li a {
    text-decoration: none;
}

header {
    font-display: flex;
    
    flex-direction: column;
    height: 100vh;
    background-image: url("../img/espacio.jpg");
    background-size: cover;

}
.content-header{
    justify-content: center;
    margin-top: 30px;
}

.background-header {
    height: 100vh;
    background-image: url("../img/espacio.jpg");
    background-size: cover;
}

.subtitleH2-nombrePagina {
    font-size: 70px;
    align-items: center;
    color: azure;
    text-align: center;

}

.subtitleH2-profesion{
    font-size: 30px;
    align-items: center;
    color: azure;
    text-align: center;
}

span{
    color: #df8611
}

main{

    
}
.background-about-my{
    /* background-image: url("../img/yoSoy.jpg"); */
    background-size: cover;
    display: flex;
    justify-content:center;
    height: 700px;
    flex-direction: column;
    

}
.contentDos{
    display: flex;
    width:90%;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

}
h2{
    margin: 0;
    padding:0;
    align-items: center;
  
}

.content-about-my{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;

}

.acerca-de-mi {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content:space-between;


}
.img{
    width: 30%;
}

.foto{
    border-radius:180px;
    width: 100%;
}
.text {
    margin: 20px;
    
    font-size: 25px;
    text-align: justify;
}

.interesting-data{
    background: hsla(204, 100%, 50%, 0.63);
    display: flex;
    flex-direction:column;
}

.data{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.cuadroImg{
    max-width: 600px;
    background-color:rgba(234, 242, 248,0.6);
    display: flex;
    flex-direction: center;
    align-items: center;
    margin-left: 80px;
    margin-top: 100px;
    border: 2px solid;
    border-radius: 8px;
    padding: 15px 20px;

}
.imgPortada{
    max-width: 20%;
    margin-right: 30px;

}
.fotoPortada{
    
    width: 100%;
    border-radius: 50%;

}

.inge{
font-size:30px;
}
.subtitle{
   
    margin-bottom: 20px;
    margin-top: 30px;
    
}

.content-data{
    margin-top: 20px;
    width:90%;


}

li{
    list-style: none;
}

.fortalezas{
    display: flex;
    width: 90%;
    justify-content:center;
    }
    
    .contentFortalezas{
    display:flex;
    flex-direction:column;
    width: 90%;
    justify-content: space-around;
    }
    
    .listFortalezas{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    }

    .text-fortalezas{
        align-items: center;
        width: 180px;
        margin-top: 5px;
    }

.meEncanta{
display: flex;
width: 90%;
justify-content:center;
}

.contentMeEncanta{
display:flex;
flex-direction:column;
width: 90%;
justify-content: space-around;
}

.listMeEncanta{
display: flex;
flex-direction:row;
justify-content: space-between;
}
h3{
    border-bottom: 5px double #1C6EA4;
    text-align: left;
    margin-bottom:15px;
    padding-bottom: 5px;
}
